/**********
* COLOURS *
***********/

$green: #7d8c60;
$background: #dbc196;

/*************
* FONT SIZES *
*************/
$xs-size: 10px;
$s-size: 12px;
$sm-size: 17px;
$m-size: 19px;
$ms-size: 22px;
$ml-size: 26px;
$l-size: 32px;
$xl-size: 36px;
$xxl-size: 54px;